* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,p,span {
    margin: 0;
}

:root {
    --background: #F0F2F5;
    --black: #121214;
    --dark-blue: #0C3049;
    --green: #4CD62B;
    --gray: #C5C5C5;
    --brown: #9C6644;
}